<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        
            Alex L. Wang
            
                &#8211; $title$
            
        
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all">
    <meta name="author" content="Alex L. Wang">
    <meta name="keywords" content="Alex L. Wang, Alex Liheng Wang, Alex Wang, Optimization, Semidefinite program, Algorithms, CMU, Carnegie Mellon, CWI, Centrum Wiskunde Informatica, Purdue University, Krannert">
    <link rel="canonical" href="https://alexlihengwang.github.io/blog/latex/template/">

    <link rel="icon" href="data:,">

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:700,400' rel='stylesheet' type='text/css'>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/pixyll.css?202301031537" type="text/css">
</head>

<body>
  <div class="mb4">
  	
    	<header class="site-header p2 center mb2">
  <div class="mt2 wrap">
    <div class="measure">
      <a class="site-title" href="/">Alex L. Wang</a>
      <nav class="site-nav center mt2">
        


    
    
    
    
        <a class="nav-link" href="/pubs.html">publications</a>
    
    

    
    
    
    
        <a class="nav-link" href="/talks.html">talks</a>
    
    

    
    
    
    
        <a class="nav-link" href="/teaching.html">courses</a>
    
    

    
    
    
    
        <a class="nav-active" href="/blog/">blog</a>
    
    


      </nav>
    </div>
  </div>
</header>

    

    <div class="p2" role="main">
      <div class="measure">
        <div class="blog measure">
	<div class="post-header mb3">
	  <h1 class="post-title">$title$</h1>
		<span class="post-meta italic">$date$</span>
	</div>

	<article class="post-content blog  sidenotes ">
	  <p><span></span></p>

<p><span class="katex"><span class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mi>b</mi><mi>o</mi><mi>d</mi><mi>y</mi></mrow><annotation encoding="application/x-tex">body</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:0.8888799999999999em;vertical-align:-0.19444em;"></span><span class="mord mathdefault">b</span><span class="mord mathdefault">o</span><span class="mord mathdefault">d</span><span class="mord mathdefault" style="margin-right:0.03588em;">y</span></span></span></span></p>

	</article>

	<div class="mt3">
	<code class="last-updated px1">
		Last updated Feb 28, 2021
	</code>
	</div>
</div>
      </div>
    </div>
  </div>

  
</body>
</html>
